<a href="https://colab.research.google.com/github/goldenkiwi-hyeuk/2022-summer_AI-machine_learning/blob/main/2022%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5%EA%B3%BC%EA%B8%B0%EA%B3%84%ED%95%99%EC%8A%B57%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 파이썬을 아주 모르시는 분들 기준으로 시작해서 신경망을 만들게요

In [ ]:
# 파이썬에서 # 이표시는 주석이에요 주석은 메모같은거에요 프로그램 실행이랑은 상관이 없답니다.

In [ ]:
# print()는 괄호안에 있는 내용을 모니터에 출력해주는 거에요

In [ ]:
print('hello world')

hello world

In [ ]:
print(5)

5

In [ ]:
## a = 10이라는 뜻은 a에다가 10을 대입하라는 뜻입니다. a는 변수라고 불러요 = 표시는 대입연산자
a = 10
print(a)

10

In [ ]:
name = 'hanyang'
print(name)

hanyang

In [ ]:
loc = 'seongdong-gu'
print(loc)

seongdong-gu

In [ ]:
print('이름은 '+name)
print('위치는 '+loc)

이름은 hanyang
위치는 seongdong-gu

In [ ]:
print(name+loc)

hanyangseongdong-gu

In [ ]:
# 어제 수업 영상을 녹화했는데 잘못되어서 아침에 다시 하게 되었어요. 늦어서 죄송합니다.
# 앞으로는 가급적 이른 아침에 보실수도 있게 업로드 할게요.
# 오늘도 수업 들어주셔서 감사드립니다. 월요일에 봬요. 안녕히계세요.

In [ ]:
# 지키지 못한 약속 죄송합니다.

In [ ]:
# 오늘은 입력 받는것과 데이터의 형태 종류를 알아 보고 끝낼게요.

In [ ]:
# 파이썬에서 입력을 받느느 방법중 input() 함수가 있어요 이 함수는 입력 받은 값을
# 자신이 써  있는 자리에 놓아줍니다.

In [ ]:
# 변수

In [ ]:
a= 10

In [ ]:
print(a)

10

In [ ]:

b= 20

In [ ]:
print(b)

20

In [ ]:
c = a + b
print(c)

30

In [ ]:
print("이름을 입력하세요")
name =input()
print("너의 이름은 "+ name + "님 이구만")

이름을 입력하세요
성혁
너의 이름은 성혁님 이구만

In [ ]:
# 덧셈 : 두 개의 숫자를 입력 받아서 결과를 출력해보기

In [ ]:
print("첫번째 숫자를 입력해주세요")
num1 = input() #숫자를 문자로 받은 상태
num1 = int(num1) # int()는 정수 껍데기를 씌우는 거라고 생각해주세요
print("두번째 숫자를 입력해주세요")
num2 = input()
num2 = int(num2)
hap = num1 + num2
print(hap)

첫번째 숫자를 입력해주세요
19
두번째 숫자를 입력해주세요
39
58

In [ ]:
# input()함수는 입력을 받으면 무조건 문자로 받아요
# 자료형(type) : 문자열, 정수(숫자), 실수(소수점있는 숫자) 다 달라요

In [ ]:
# 그래서 우리는 input()함수로 받은 내용을 우리가 원하는 형태로 바꿔줍니다.

In [ ]:
print("첫번째 숫자를 입력해주세요")
num1 = input() #숫자를 문자로 받은 상태
num1 = int(num1) # int()는 정수 껍데기를 씌우는 거라고 생각해주세요
print("두번째 숫자를 입력해주세요")
num2 = input()
num2 = int(num2)
hap = num1 + num2
print(hap)
print("두 수의 합은 " + str(hap) + '이구만') # 여기에서 우리는 문자열 껍데기가 필요해요 str()

첫번째 숫자를 입력해주세요
12
두번째 숫자를 입력해주세요
13
25
두 수의 합은 25이구만

In [ ]:
# 오늘은 여기까지할게요 감사합니다. 내일봬요 ㅎ

In [ ]:
# 조건문 if 뭐뭐
# 만약에 ~가 참이라면

In [ ]:
a = 1000
if a < 100:
  print("100보다 작구만")
if a > 100:
  print("100보다 크구만")

100보다 크구만

In [ ]:
# 조건문 if에 포함되는 문장은 들여쓰기를 해서 구분합니다.

In [ ]:
print("나이를 입력하세요")
age = input()
age = int(age)
if age > 25:
  print("늙었구만")
if age < 25:
  print("젊구만")

나이를 입력하세요
22
젊구만

In [ ]:
# if else 조건이 참인경우와 거짓인 경우에 실행할 문장을 따로 구분 #else 뒤에는 조건식을 쓰지 않아요
print("나이를 입력하세요")
age = input()
age = int(age)
if age > 25:
  print("늙었구만")
else:
  print("젊구만")

나이를 입력하세요
12
젊구만

In [ ]:
# 이번에는 여러개의 조건이 있는 경우 if elif else
print("나이를 입력하세요")
age = input()
age = int(age)
if age > 25:
  print("늙었구만")
else:
  if age < 10:
    print("너무 어린거 아니심?")
  else:
    print("젊구만")

나이를 입력하세요
8
너무 어린거 아니심?

In [ ]:
print("나이를 입력하세요")
age = input()
age = int(age)
if age > 25:
  print("늙었구만")
elif age < 10:
  print("너무 어린거 아니심?")
else:
  print("젊구만")

나이를 입력하세요
50
늙었구만

In [ ]:
# 네 오늘 수업은 여기까지 할게요 조건문을 살펴보았어요 내일은 반복문? 네 안녕히 계세요

In [ ]:
# 감사합니다. 여러분!

In [ ]:
# 반복문
# 파이썬의 반복문은 while for 이 있습니다. 오늘은 while문을 먼저 볼게요

In [ ]:
# while문은 if문이랑 비슷해요

In [ ]:
i = 10 # 초기화 초기식
while i< 5: #조건식
  print(i)
  i= i+1 #증감식
print("==========")
print(i)

==========
10

In [ ]:
while b< 5: #b가 무엇인지 알수 없어서 오류남
  print(i)
  b= b+1 #증감식
print("==========")
print(b)

NameError: ignored

In [ ]:
# while 문은 조건이 참인 동안 계속 반복해요
# 두개의 정수를 입력받아 그 합을 구하는 프로그램을 작성하세요 단 두 수가 모두 0이면 반복을 종료합니다.

In [ ]:
while True:
  print("첫번째 숫자를 입력하세요")
  num1 = input()
  num1 = int(num1)
  print("두번째 숫자를 입력하세요")
  num2 = input()
  num2 = int(num2)
  if num1 ==0 and num2 ==0:
    break
  hap = num1 +num2
  print("두수의 합은 "+ str(hap))
print("안녕")

첫번째 숫자를 입력하세요
1
en번째 숫자를 입력하세요
2
두수의 합은 3
첫번째 숫자를 입력하세요
0
en번째 숫자를 입력하세요
0
안녕

In [ ]:
# 오늘은 리스트

In [ ]:
# 리스트는 변수와 같이 값을 저장하는 공간인데 여러개를 저장할 수 있답니다.

In [ ]:
a = 10
print(a)

10

In [ ]:
a = [1,2,3]

In [ ]:
b=[4,5,6]

In [ ]:
c = [7,8,9]

In [ ]:
print(a)

[1, 2, 3]

In [ ]:
print(b)

[4, 5, 6]

In [ ]:
print(c)

[7, 8, 9]

In [ ]:
print(a[0]) # 인덱싱을 통해서 하나씩 꺼내쓸 수 있음

1

In [ ]:
print(a[1])

2

In [ ]:
print(a[2])

3

In [ ]:
print(a[3]) # 인덱스가 없을경우 출력이 안됨

IndexError: ignored

In [ ]:
a[0] = 100 # 리스트 안의 숫자 변경 가능

In [ ]:
print(a)

[100, 2, 3]

In [ ]:
d=[a,b,c] # 리스트로 리스트를 만들수 있음 = list of list

In [ ]:
print(d)

[[100, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(d[0][2])

3

In [ ]:
han = [3,45,56,67,4,4,6,67,78,8,2,3,4,45]

In [ ]:
print(len(han))

14

In [ ]:
len("hello")

5

In [ ]:
# 사용자가 입력한 값이 리스트이 몇번 인덱스인지 알려주는 문제(없으면 없다고 해주기)
han = [3,45,56,67,4,4,6,67,78,8,2,3,4,45]
print("찾고자 하는 값을 입력해 주세요")
num = input()
num = int(num)
i = 0
c = 0
while i<len(han):
  if num == han[i]:
    print("찾고자 하는 값의 인덱스는 "+ str(i))
    c = 1
  i = i+1
print("반복문이 종료된후 i의 값은 ="+str(i))
if c==0:
  print("없어용")

찾고자 하는 값을 입력해 주세요
3
찾고자 하는 값의 인덱스는 0
찾고자 하는 값의 인덱스는 11
반복문이 종료된후 i의 값은 =14

In [ ]:
# 오늘 6차시 수업 들어주셔서 진심으로 감사드립니다. 주말 잘 보내세요.

In [1]:
# 리스트의 값을 추가하려면 리스트이름.append(추가할 값)

In [2]:
a = [1,2,3,4,5]

In [3]:
print(a)

[1, 2, 3, 4, 5]

In [4]:
a.append(100)

In [5]:
print(a)

[1, 2, 3, 4, 5, 100]

In [6]:
a.pop() #리스트에서 특정값을 제거할때 리스트이름.pop()

100

In [7]:
print(a)

[1, 2, 3, 4, 5]

In [8]:
a.pop(0) #인덱스로 원하는 값 빼내기 가능

1

In [9]:
print(a)

[2, 3, 4, 5]

In [10]:
a.reverse() # 순서뒤집기

In [11]:
print(a)

[5, 4, 3, 2]

In [12]:
data = 1 3 4 5 6 7 #,와 괄호가 없으면 리스트 생성 불가능

SyntaxError: ignored

In [13]:
data = "1 2 3 4 5 56 54 4 4 3 3 3 3"

In [14]:
data.split() #공백을 기준으로 뜯어서 리스트 형성

['1', '2', '3', '4', '5', '56', '54', '4', '4', '3', '3', '3', '3']

In [19]:
# 사용자로부터 리스트에 값을 계속 추가하는 프로그램 만약 음수가 입력되면 종료
# 그리고 몇개를 입력했는지 알려주는 프로그램
a = []
count = 0
print(a)
while True:
  num = input()
  num = int(num)
  if num <0:
    break
  a.append(num)
  count = count + 1
print(a)
print(str(count) + "개를 입력하셨구만")
print(str(len(a))+ "개를 입력했어요")

[]
1
3
4
-1
[1, 3, 4]
3개를 입력하셨구만
3개를 입력했어요

In [ ]:
# 오늘은 함수에 대해서 알아볼게요
# 함수는 미리 만들어진 함수가 너무 많죠 그런데 우리는 함수를 잘 사용해보려구 함수
# 만드는 것도 알아볼게요

In [20]:
# 1함수를 만드는것을 함수 정의라 합니다.
# 2함수를 사용하는 것을 함수 호출이라고 합니다.
# 3매개변수는 함수가 외부로부터 값을 전달 받는 변수
# 4함수에서 나온 결과를 다시 이용하려고 가지고 오는 것을 함수의 반환이라고 합니다.
# 예) name = input()

In [21]:
def hamsoo():
  print("Thank you")

In [22]:
# 함수를 정의했다고 실행되지는 않아요 우리가 print()를 쓰는 것처럼
# 우리가 만든 함수도 이름을 써주시면 그게 실행입니다.

In [23]:
hamsoo()

Thank you

In [25]:
hamsoo()
hamsoo()
hamsoo()

Thank you
Thank you
Thank you

In [30]:
def add(n,m):
  print(n+m)

In [27]:
add() #매개변수 없이 실행하면 오류가 남

TypeError: ignored

In [28]:
add(1,3)

4

In [31]:
def add(n,m,p):
  print(n+m+p)
add(1,3,5)

9

In [32]:
# return 반환

In [33]:
def add(n,m):
  return(n+m)

In [36]:
a = add(3,4)
b = add(5,a)
print(a)
print(b)

7
12